
.container{
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  height: 100vh;
  max-width: 1000px;
  width: 100%;
}

.header{
  background-color: black;
  flex-grow: 1;
  min-height: 100px;
}

.input{
  background-color: rgb(150, 45, 45);
  min-height: 100px;
  flex-grow: 1;
}