.App {
  text-align: center;
  font-family: Google Sans;
  font-size: 1rem;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px;
}


.user{
  background-color: rgb(223, 223, 223);
}

button:focus{
  background-color: aquamarine;
}