.Inputs{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    /* background-color: rgb(88, 81, 70); */
}

.inputText{
    height: 100%;
    width: 100%;
    
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(220, 220, 220);
    font-size: 1.3rem;
    resize: none;
}
